doc
cleaned
.auto_tests
.lapce
.zed
.random
.throwaway
.cache
.vscode
.removed
.dev
.extra_gl
build
models
.DS_Store
*.xml
*.toc
*.log
*.out
*.bbl
*.bcf
*.aux
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
__pycache__
*.pygtex
*.pygstyle
*.cmake
CMakeCache.txt
Makefile
build.ninja
**/CMakeFiles/
test.csv
test.npy
.pyenv
Chaos_Paper
twist
twist.zip
benchmarks/*.json
benchmarks/*.csv
benchmarks/auto/**/*.o
benchmarks/auto/**/*.2
benchmarks/auto/**/*.init
benchmarks/auto/**/*.exe
benchmarks/auto/**/*.no_change
misc_programs/bench*

!cmake/FindFortran.cmake